
{% extends "base.html" %} {% block title %}Forgot Password{% endblock %} 
{% block content %}
<form method="POST"><!--when the form is submitted a post request is sent to the backend, signifies a change to a database or state of the website -->
    <h3 align="center">Forgot Password</h3>

<div class="form-group">
    <label for="password reset">Forgot Password</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="forgotpassword"
      placeholder="Enter Email"
    />
  </div>
  <button type="Reset Password" class="btn btn-primary">Reset Password</button>
</form>
  {% endblock %}